@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Please fill out a help form on our @Html.ActionLink("Home", "Index", "HOME") page.
    @*or add in a PV here with the form*@
</p>

<address>
    Based out of Los Angeles, CA<br />
    <abbr title="Phone">P:</abbr>
    +1.555.555.55555
</address>

<address>
    <strong>Colton</strong>   <a href="mailto:Colton@isawesome.com">Colton@isawesome.com</a><br />
    <strong>Zach</strong> <a href="mailto:Zach@likestrannys.com">Zach@likestrannys.com</a>
</address>