
@{
    ViewBag.Title = "HowTo";
}

<h2>How It Works</h2>

<hr />

<div id="Steps" style="font-family: 'Times New Roman', Times, serif; font-size: 14px">
    <p>
        Step 1: Fill out the form on the "Help Me!" page to let us know your issues.
        <br />
        Step 2: Download **remote desktop program**
        ---show step by step walkthrough on how to (or add button for partial view to pop up)
        <br />
        Step 3: Receive an email from our tech team within 24 hours for normal issues, 6 hours for expedied issues.
        <br />
        Step 4: Setup a remote connection time.
        <br />
        Step 5: Chat live with employee as they help resolve your issues.
        ----if we can't solve the issue, you are not charged for the service.
    </p>
</div>