@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Remote Help Desk</h1>
    <p class="lead">We will remotely fix your computer or it's free.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please fill out the form below and we will contact you within 6 hours. If this is an urgent matter, you can get expedited service in under an hour for an additional fee.
        </p>
        <p><a class="btn btn-default" href="~/Home/HowTo">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services and Pricing</h2>
        <p>Please click the button below to see the services we provide as well as pricing estimates.</p>
        <p><a class="btn btn-default" href="~/Home/Pricing">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Find out more about our team and why we started 'RemoteHelp Desk'.</p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>

</script>